
body {
	/*:Background image*/
	background-image:url(images/background/gradient.gif);
	background-repeat: repeat-x;
	background-position:bottom;
	background-color:#FFF;
}

#logo {
	/*:Header height*/
	/*:Header image*/
	/*:Header image alignment*/
	float:left;
	left:110px;
	top: 15px;
	height:95px;
	width:500px;
	position:absolute;
	z-index:200;
}

.sidebar_left #frame {
	/*:Sidebar left width*/
	padding-left:200px;
}

.sidebar_right #frame {
	/*:Sidebar right width*/
	padding-right:250px;
	padding-top:70px;
}

#sidebar_left.sidebar {
	/*:Sidebar left width*/
	width:200px;
	/*:Sidebar left width*/
	right:200px;
}

#sidebar.sidebar {
	/*:Sidebar right width*/
	width:250px;
}

* html #sidebar_left {
	/*:Sidebar right width*/
	left:250px;
}

#page, #header, #footer {
	/*:Page width*/
	width:800px;
}

*::-moz-selection, *::-selection {
	/*:Navigation color*/
	background-color:#C61300;
}

#quicklinks #addicted_results ul li a:hover {
	/*:Navigation color*/
	background-color:#C61300;
}

a {
	/*:Navigation color*/
	color:#C61300;
}

.sidebar h2 {
	/*:Navigation color*/
	border-left-color:#C61300;
	/*:Navigation color*/
	color:#C61300;
}

.sidebar h2 a {
	/*:Navigation color*/
	color:#C61300;
}

#calendar #today {
	/*:Navigation color*/
	background-color:#C61300;
}

#menu ul li li a:hover, #menu ul li li.current_page_item a {
	/*:Navigation color*/
	color:#C61300;
}

#menu ul li li.current_page_item a:hover {
	/*:Navigation color*/
	color:#C61300;
}

#menu ul li.current_page_ancestor:hover a, #menu ul li.current_page_ancestor a, #menu ul li.current_page_parent a, #menu ul li.current_page_item a {
	/*:Navigation color*/
	background-color:#C61300;
}

.sidebar li.current_page_item a, .sidebar li.current-cat a, #frame .sidebar li a:hover {
	/*:Navigation color*/
	background-color:#C61300;
}

.sidebar li a:hover {
	/*:Navigation color*/
	background-color:#C61300;
}

code {
	/*:Content color*/
	background-color:#312A22;
	/*:Content color*/
	border-color:#312A22;
}

.bypostauthor div {
	/*:Content color*/
	background-color:#312A22;
	/*:Content color*/
	border-color:#312A22;
}

.bypostauthor cite {
	/*:Content color*/
	color:#312A22;
}

h2, h2 a, h3, h3 a, .post blockquote, .post blockquote a, .author, .author a, .date, .comment.comment_author .author, .comment.comment_author .author a, .comment.comment_author .date, .comment.comment_author h4 {
	/*:Content color*/
	color:#312A22;
}

.post blockquote {
	/*:Content color*/
	border-left-color:#312A22;
}

#footer_content div.widget {
    padding-top:8px;
    width:250px;
    float:left;
    height:100%;
    text-align:left;
}

#footer_content div.widget h4 {
	display:inline;
}
#footer_content div h2.title {
    margin-left:2px;
    font-family:Arial, Helvetica, Geneva, Verdana, sans-serif;
    text-transform:uppercase;
    font-size:medium;
}

#footer_content ul li {
    margin-left:8px;
    text-align:left;
    list-style-type:none;
}

/* schedule column */
#sidebar .col1 {
	width:140px;
	font-weight:bold;
	text-align:left;	
}

#sidebar td {
	width:70px;
	text-align:center;
}

/* coaches page */

div.coach {
    width:100%;
    background-color:gray;
}

div.coach_title {
    font-weight:bold;
}

.coachpic {
    float:left;
    border:1px solid;
    width:119px;
    height:170px;
}

.coachdesc {
    float:right;
    width:383px;
}

.clear {
    clear:both;
}